<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="Unnamed__0" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="ScorekaartKandidaat_form_edit" 
        service="ScorekaartKandidaat" 
        entity="ScorekaartKandidaat" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #Unnamed__0 attr="Unnamed__0" label=" Unnamed__0*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__1 attr="Unnamed__1" label="Unnamed__1" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__2 attr="Unnamed__2" label="Unnamed__2" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__3 attr="Unnamed__3" label="Unnamed__3" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__4 attr="Unnamed__4" label="Unnamed__4" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__5 attr="Unnamed__5" label="Unnamed__5" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__6 attr="Unnamed__6" label="Unnamed__6" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__7 attr="Unnamed__7" label="Unnamed__7" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__8 attr="Unnamed__8" label="Unnamed__8" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__9 attr="Unnamed__9" label="Unnamed__9" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__10 attr="Unnamed__10" label="Unnamed__10" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Unnamed__11 attr="Unnamed__11" label="Unnamed__11" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>