<o-form-layout-manager attr="ScorekaartKandidaat" mode="dialog" title="SCOREKAARTKANDIDAAT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ScorekaartKandidaatTable" 
            service="ScorekaartKandidaat" 
            entity="ScorekaartKandidaat" 
            title="SCOREKAARTKANDIDAAT"
            keys="id"
            columns="Unnamed__0;Unnamed__1;Unnamed__2;Unnamed__3;Unnamed__4;Unnamed__5;Unnamed__6;Unnamed__7;Unnamed__8;Unnamed__9;Unnamed__10;Unnamed__11;id" 
            header-actions="R;D"
            visible-columns="Unnamed__0;Unnamed__1;Unnamed__2;Unnamed__3;Unnamed__4;Unnamed__5;Unnamed__6;Unnamed__7;Unnamed__8;Unnamed__9;Unnamed__10;Unnamed__11;id"  
            sort-columns="Unnamed__0" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #Unnamed__0 attr="Unnamed__0" title=" Unnamed__0*" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #Unnamed__1 attr="Unnamed__1" title="Unnamed__1" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__2 attr="Unnamed__2" title="Unnamed__2" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__3 attr="Unnamed__3" title="Unnamed__3" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__4 attr="Unnamed__4" title="Unnamed__4" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__5 attr="Unnamed__5" title="Unnamed__5" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__6 attr="Unnamed__6" title="Unnamed__6" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__7 attr="Unnamed__7" title="Unnamed__7" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__8 attr="Unnamed__8" title="Unnamed__8" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__9 attr="Unnamed__9" title="Unnamed__9" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #Unnamed__10 attr="Unnamed__10" title="Unnamed__10" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Unnamed__11 attr="Unnamed__11" title="Unnamed__11" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>